@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  color: rgb(70, 70, 70);
  font-family: "Inter", sans-serif;
  background-color: rgb(250, 250, 250);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 32px;
  margin-bottom: 24px;
}

p {
  line-height: 1.5;
  margin-bottom: 24px;
  font-size: 18px;
}

p a {
  color: rgb(80, 80, 80);
  font-weight: bold;
}

p a:hover {
  color: rgb(100, 100, 100);
  font-weight: bold;
  text-decoration: underline;
}

.centered-container {
  width: 800px;
  margin: 0 auto;
  padding: 0 32px;
}

.section-after-header {
  padding-top: 120px;
}

.subsection {
  margin-bottom: 64px;
}

.subsection-heading {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(210, 210, 210);
}

.common-list li {
  list-style: inside;
  padding: 8px 0;
}

/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(230, 230, 230);
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

/**************************/
/* NAVIGATION */
/**************************/
.main-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(70, 70, 70);
}

/**************************/
/* SECTION INTRO */
/**************************/
.section-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding-bottom: 32px;
}

.intro-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0 0;
}

/**************************/
/* MEDIA QUERIES */
/**************************/

@media screen and (max-width: 1200px) {
  .centered-container {
    width: 85vw;
  }

  .main-nav-list {
    position: fixed;
    left: -100%;
    top: 75px;
    flex-direction: column;
    gap: 0;
    width: 100%;
    transition: 0.5s;
    border-bottom: 1px solid rgB(230, 230, 230);
  }

  .main-nav-list.active {
    left: 0;
  }

  .main-nav-list li {
    padding: 16px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .section-intro {
    flex-direction: column;
  }

  .intro-text {
    order: 2;
  }

  .intro-image {
    order: 1;
    width: 100%;
    justify-content: start;
    align-items: start;
  }

  .profile-image {
    height: 150px;
    width: 150px;
  }
}
